* {
    all: unset;
    color: unset;
    border-color: unset;
}

placeholder {
    opacity: 0.5;
}

window {
    border-radius: 16px;
    border: 2px solid #FFFFFFAF;
    background-color: #111418EF;
    transition: opacity 0.2s;
}

window.dragging {
    opacity: 0.25;
}

list {
    margin-top: 8px;
    background-color: unset;
}

grid {
    margin: 4px;
}

grid>button {
    all: unset;
    padding: 0 8px;
    margin: 4px;

    border-style: solid;
    border-color: transparent;
    border-radius: 12px;
    border-width: 2px;
}

grid>button.selected,
grid>button:hover {
    background-color: #272a2f;
}

grid>button .icon {
    -gtk-icon-shadow: 0 0 10px #111418;
}

grid>button.selected {
    border-color: #a2c9fe;
}

row {
    padding: 12px;
    margin: 0 8px 8px 8px;

    background-color: transparent;

    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

row:hover {
    background-color: #272a2f;
    border-color: transparent;
}

row.selected,
row:focus {
    background-color: #272a2f;
    border-color: #a2c9fe;
}

#search_bar {
    margin: 0 8px;
    padding: 8px 0 4px 0;
    /* border-radius: 12px; */
    /* background-color: #272a2f; */
    border-bottom: #8d9199 1px solid;
}

#search_bar>entry {
    all: unset;

    margin: 6px;
    font-size: 16px;
}

#search_bar.error {
    background-color: #ffb4ab;
    color: #690005;
    caret-color: #690005;
}

#search_bar>button {
    all: unset;

    padding: 6px 8px;
    border-radius: 6px;
}

#search_bar>button:hover {
    background-color: #272a2f;
}

#action_bar {
    margin: 0 8px;
    padding: 4px 0 8px 0;
    border-top: #8d9199 1px solid;
}

entry.error {
    background-color: #ffb4ab;
    color: #690005;
    caret-color: #690005;
}

row .icon {
    -gtk-icon-shadow: 0 0 10px #111418;
    font-size: 40px;
    font-weight: bold;
    font-family: monospace;
}

row .small_icon {
    -gtk-icon-shadow: 0px 0px 5px #111418;
}

.texts {
    margin-left: 16px;
}

.grid_name {
    font-weight: 600;
    font-size: 15px;

    margin: 4px 0;
}

.name {
    font-weight: bold;
    font-size: 18px;
}

.tag {
    font-weight: 500;
    font-size: 15px;

    padding: 0 4px;
    background-color: #43474e;
    border-radius: 4px;
}

.keybind {
    padding: 6px;
    border-radius: 6px;
}

.keybind:hover {
    background-color: #272a2f;
}

.separator {
    margin: 8px;
}

.keybind .description {
    margin-right: 4px;
    color: inherit;
}

.keybind .key {
    font-family: monospace;
    font-weight: 500;
    font-size: 16px;
    padding: 1px 7px 0px 7px;
    background-color: #43474e;
    border-radius: 4px;
    margin-left: 4px;
}

.keybind .key_symbol {
    font-family: "Material Symbols Outlined";
    font-weight: 500;
    font-size: 20px;
    line-height: 0.8;
    padding: 1px 2px 0px 2px;
    background-color: #43474e;
    border-radius: 4px;
    margin-left: 4px;
}

.description {
    font-weight: 500;
    color: #8d9199;
    font-size: 15px;
}

.action {
    box-shadow: none;
    margin: 0 64px;
    font-weight: 500;
    font-size: 15px;

    background: none;
    background-color: transparent;

    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;

    transition-timing-function: ease-in-out;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-property: border-color;
}

.action:selected,
.action:focus,
.action:hover {
    background-color: #111418;
    /* background-color: #272a2f; */
    border-color: #a2c9fe;
}