$surface: #141318;
$surfaceDim: #141318;
$surfaceBright: #3a383e;
$surfaceContainerLowest: #0f0d13;
$surfaceContainerLow: #1c1b20;
$surfaceContainer: #201f24;
$surfaceContainerHigh: #2b292f;
$surfaceContainerHighest: #36343a;
$surfaceVariant: #48454e;
$outline: #938f99;

$error: #ffb4ab;
$onError: #690005;
$errorContainer: #93000a;

* {
    all: unset;
}

placeholder {
    opacity: 0.5;
}

window {
    border-radius: 16px;
    border: 2px solid $outline;
    background-color: transparentize($surface, 0.03);
    transition: opacity 0.2s;
}

window.dragging {
    opacity: 0.25;
}

row {
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;

    &:hover {
        background-color: $surfaceContainer;
    }

    &.selected {
        background-color: $surfaceContainerHigh;
        border-color: $accent;
    }

    &:disabled:not(.selected) {
        opacity: 0.5;
    }
}

grid {
    margin: 4px;

    >* {
        padding: 0 8px;
        margin: 4px;

        .icon {
            -gtk-icon-shadow: 0 0 10px $surface;
        }
    }
}

list {
    margin-top: 8px;

    row {
        padding: 12px;
        margin: 0 8px 8px 8px;

        .icon {
            -gtk-icon-shadow: 0 0 10px $surface;
            font-size: 40px;
            font-weight: bold;
            font-family: monospace;
        }

        .small_icon {
            -gtk-icon-shadow: 0px 0px 5px $surface;
        }
    }
}

#search_bar {
    margin: 0 8px;
    padding: 8px 0 4px 0;
    /* border-radius: 12px; */
    /* background-color: $surfaceContainerHigh; */

    >entry {
        margin: 6px;
        font-size: 16px;
    }

    >button {
        padding: 6px 8px;
        border-radius: 6px;

        &:hover {
            background-color: $surfaceContainerHigh;
        }
    }

    #lock {
        font-family: "Material Symbols Outlined";
        color: mix($outline, white, 50);
        font-size: 20px;
        line-height: 1em;
        font-weight: 600;
    }

    #lock .active {
        font-family: "Material Symbols";
        color: white;
    }
}

#action_bar {
    margin: 0 8px;
    padding: 4px 0 8px 0;
    border-top: $outline 2px solid;
}

entry {
    >text>selection {
        background-color: transparentize($accent, 0.5);
    }
}

.texts {
    margin-left: 16px;
}

.grid_name {
    font-weight: 600;
    font-size: 15px;

    margin: 4px 0;
}

.name {
    font-weight: bold;
    font-size: 18px;
}

.tag {
    font-weight: 500;
    font-size: 15px;

    padding: 0 4px;
    background-color: $surfaceContainerHighest;
    box-shadow: 0 0 6px black;
    border-radius: 4px;
}

.keybind {
    padding: 6px;
    border-radius: 6px;

    &:hover,
    &.selected {
        background-color: $surfaceContainerHigh;
    }

    .description {
        margin-right: 4px;
        color: inherit;
    }

    &:disabled {
        opacity: 0.5;
    }
}

.separator {
    margin: 8px;
}

.key {
    font-family: monospace;
    font-size: 16px;
    padding: 2px 7px 1px 7px;
}

.key_symbol {
    font-family: "Material Symbols Outlined";
    font-size: 20px;
    line-height: 0.8;
    padding: 2px 2px 1px 2px;
}

.key,
.key_symbol {
    font-weight: 500;
    background-color: $surfaceVariant;
    border-radius: 4px;
    margin-left: 4px;
    box-shadow: 0 0 8px black;
}

.description {
    font-weight: 500;
    color: $outline;
    font-size: 15px;
}

#search_bar>entry,
.name,
.description,
.tag {
    font-feature-settings: "liga" off;
}

.actions_box {
    background-color: $surface;
    min-width: 240px;
    border: 1.5px solid $outline;
    box-shadow: 0 0 4px 2px black;
    border-radius: 12px;
    margin: 8px;
    padding: 8px;

    >button {
        margin-bottom: 4px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .action {
        padding: 8px;
        border-radius: 8px;
        border-width: 1.5px;
        border-style: solid;
        border-color: transparent;

        &:hover {
            background-color: $surfaceContainer;
        }

        &.selected {
            border-color: $accent;
            background-color: $surfaceContainerHigh;
        }

        .action_name {
            font-weight: 500;
            font-size: 15px;
            margin-left: 8px;
            margin-right: 12px;
        }
    }
}

$loader-size: 0.15;

.loader {
    min-height: 2px;
    margin: 0 8px;

    animation: loader-keyframes 2s infinite linear;
    transition: background 0.25s;

    background-repeat: no-repeat;
    background-size: calc($loader-size * 100%);
    background-color: $surfaceVariant;

    &.loading {
        background-image: linear-gradient(to right, transparent, $accent 40%, $accent 60%, transparent);
        transition: background 0.5s 0.5s ease-in;
    }
}

@keyframes loader-keyframes {
    0% {
        background-position: calc($loader-size / ($loader-size - 1) * 100%);
    }

    100% {
        background-position: calc(1 / (1 - $loader-size) * 100%);
    }
}